html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
#full-screen-background-image {
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 1024px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -999;
}
#wrapper {
    color: #333333;
    margin: 100px auto;
    min-height: 400px;
    position: relative;
    width: 800px;
}
a:link, a:visited, a:hover {
    color: #333333;
    font-style: italic;
}
a.to-top:link, a.to-top:visited, a.to-top:hover {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-top: 1000px;
    padding-bottom: 30px;
}