<!DOCTYPE html>
<html ng-app="comics" ng-controller="InitController">	
<head>
    <meta charset="utf-8">
    <title>Comics</title>
    <!-- CSS TEMPLATES -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="css/marketing.css">
    <link href="css/pagination.css" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" href="css/jquery.remodal.css">
    <link rel="stylesheet" href="css/ngDialog/ngDialog.css">
    <link rel="stylesheet" href="css/ngDialog/ngDialog-theme-default.css">-->
    <!-- Load local jQuery -->
    <script src="libs/jquery-loader.js"></script>

    <!-- Load local lib and tests -->
    <!-- <link rel="stylesheet" href="css/jquery.remodal.css"> -->
    <link rel="stylesheet" href="src/remodal.css"> 
    <link rel="stylesheet" href="src/remodal-default-theme.css">
    <script src="src/remodal.js"></script>
    <script src="remodal_test.js"></script>
    <style>
      .remodal-overlay.without-animation.remodal-is-opening,
      .remodal-overlay.without-animation.remodal-is-closing,
      .remodal.without-animation.remodal-is-opening,
      .remodal.without-animation.remodal-is-closing,
      .remodal-bg.without-animation.remodal-is-opening,
      .remodal-bg.without-animation.remodal-is-closing {
        animation: none;
      }
    </style>
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">Your Site</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover" ng-hide="logueado">
                    <a href="#" id="menuLink1" class="pure-menu-link">Sign In</a>
                    <ul class="pure-menu-children">
                    <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                        <div ng-show="error">[{ error }]</div>
                <!-- MODAL
                <div class="remodal-bg" ng-show="error">
                  <div id="qunit"></div>
                  <a href="#" data-remodal-target="modal">Call</a>
                </div>
                <div class="remodal" data-remodal-id="modal" >
                  <a data-remodal-action="close" class="remodal-close"></a>
                  <a data-remodal-action="confirm" class="remodal-confirm" href="layout.html" ng-click="ClickMeToRedirect()">OK</a>
                </div> -->
                        <form name="form-login" class="pure-form pure-form-stacked" ng-submit="login()" role="form" novalidate>
                            <fieldset>
                                <label for="user">User</label>
                                <input id="user" name="user" type="email" placeholder="Email" class="form-control ng-dirty ng-valid ng-valid-required" ng-model="user" required>
                                <label for="password">Password</label>
                                <input id="password" name="password" type="password" placeholder="Password" class="form-control ng-dirty ng-valid ng-valid-required" ng-model="password" required>
                                <button type="submit" class="pure-button" ng-disabled="form.$invalid || dataLoading" class="btn btn-success">Sign In</button>
                                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                            </fieldset>
                        </form>
                        </div>   
                    </ul>
                </li>
                <li class="pure-menu-item"><a href="#register"  ng-hide="logueado">Sign Up</a></li>
                <!--<li class="pure-menu-item"><a href="#modal" class="pure-menu-link" ng-hide="logueado">Sign Up</a></li>
                <button type="button" ng-dialog="firstDialogId" ng-dialog-controller="InsideCtrl" ng-dialog-data="{{jsonData}}" ng-dialog-class="ngdialog-theme-default" ng-dialog-show-close="false">Open via directive</button>-->
                <button type="submit" class="pure-button" ng-click="logout()" ng-show="logueado">Logout</button>
            </ul>
           <!-- <div class="remodal-bg">
        <div class="ad"> </div>
        <div class="click-area"> <a class="modal-click" href="#modal">Click</a> <br>
        <br>
        </div>
        <div class="remodal" data-remodal-id="modal">
        <h1>Remodal</h1>
        <p> Flat, responsive, lightweight, fast, easy customizable modal window plugin
          with declarative state notation and hash tracking. </p>
        <p> Minified version size: ~4kb </p>
        <br>
        <a class="remodal-cancel" href="#">Cancel</a> <a class="remodal-confirm" href="#">OK</a> </div>
        <div data-remodal-id="modal2">
        <h1>Another one window</h1>
        <p> Hello! </p>
        <br>
        <a class="remodal-confirm" href="#">Hello!</a> </div>
    </div>-->
        </div>
    
    </div> 
    <div ng-view=""></div>

    <div class="splash-container">
        <div class="splash">
            <div ng-show="logueado">
                <h1 class="splash-head" ng-show="logueado">ACME COMICS</h1>
               <!--<p class="splash-subhead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <p>
                    <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
                </p>-->
                <!-- MODAL -->
                <div class="remodal-bg">
                  <div id="qunit"></div>
                  <a href="#" data-remodal-target="modal">Call</a>
                </div>
                <div class="remodal" data-remodal-id="modal">
                  <a data-remodal-action="close" class="remodal-close"></a>
                  <a data-remodal-action="confirm" class="remodal-confirm" href="layout.html" ng-click="ClickMeToRedirect()">OK</a>
                </div>
                <div class="remodal" data-remodal-id="modal2"
                  data-remodal-options="hashTracking: false,
                    closeOnConfirm:false,closeOnCancel:  false, closeOnEscape: false , closeOnOutsideClick: false,
                    modifier : without-animation with-test-class">
                  <a data-remodal-action="close" class="remodal-close"></a>
                  <a data-remodal-action="cancel" class="remodal-cancel" href="#">Cancel</a>
                  <a data-remodal-action="confirm" class="remodal-confirm" href="#">OK</a>
                </div>

                <div data-remodal-id="modal3">
                    <a data-remodal-action="close" class="remodal-close"></a>
                </div>
                <div class="remodal" data-remodal-id="!modal4/test">
                    <a data-remodal-action="close" class="remodal-close"></a>
                </div> 
                <!--<div class="pure-g" > <!--MOSTRAR SOLO CUANDO SE LOGUEA ng-show="logueado"  -->
                <!--    <div class="pure-u-1-4" ng-repeat="comic in comics">
                        <a>[{ comic.title }]</a>
                        <img class="pure-img-responsive" src="[{ comic.thumbnailUrl }]">
                    </div>
                    <div class="pure-g" > <!--MOSTRAR SOLO CUANDO SE LOGUEA ng-show="logueado"  -->
                <div class="pure-u-1-1">
                    <label for="search">Search:</label>
                    <input ng-model="data.title" id="search" class="form-control" placeholder="Filtrar texto">
                    <!-- data-toggle !!!! -->
                    <button type="submit" class="pure-button" data-target="#addComic" data-toggle="modal" type="button">Add Comic</button>
                    <!--<label for="search">Items:</label>
                    <input type="number" min="1" max="8" class="form-control" ng-model="pageSize"> -->
                </div> 
                <div class=" pure-u-1-4" dir-paginate="comic in comics | filter: data | itemsPerPage: 12" current-page="currentPage">
                    <!--<div class="pure-u-1-4" > <!-- ng-repeat="comic in comics" 

                        <a>[{ comic.title | cut:true:10:'...' }]</a>-->
                        <img class="pure-img-responsive" src="[{ comic.thumbnailUrl }]">
                    <!--</div>-->
                </div>
                <div class="pagination">
                  <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="js/dependencies/dirPagination.tpl.html">
                  </dir-pagination-controls>
               </div>
            </div>
        </div>
    </div>
   <!--  <custom-modal modal-id="modalRespuestas" modal-grande="false" modal-title="[{ mensajeTitulo }]" modal-solo-mensaje='true'>
        <div >
            <p>[{ mensajeRespuesta }]</p>
        </div>
    </custom-modal> -->
	<!-- AngularJS -->
<script defer="true" src="js/dependencies/angular.js"></script>
<script defer="true" src="js/dependencies/angular-route.js"></script>
<script defer="true" src="js/dependencies/angular-cookies.js"></script>
<script defer="true" src="js/dependencies/ngDialog.js"></script>
<script defer="true" src="js/dependencies/dirPagination.js"></script>
<script defer="true" src="js/dependencies/textAngular-rangy.min.js"></script>
<script defer="true" src="js/dependencies/textAngular-sanitize.min.js"></script>
<script defer="true" src="js/dependencies/textAngular.min.js"></script>
<script defer="true" src="js/dependencies/textAngular.min.js"></script>
<script defer="true" src="js/app.js"></script>
<script defer="true" src="js/routes.js"></script>
<script defer="true" src="js/controllers/InitController.js"></script>
<script defer="true" src="js/controllers/UserController.js"></script>

</body>

</html>	