<div class="modal" id="modal-1" data-furatto="modal" data-theme="alpha" data-transition="3">
    <div class="modal-header">
    Modal Dialog
    </div>
    <div class="modal-content">
        <div>
            <p>This is a modal window. It has 3 main elements:</p>
            <ul>
                <li><strong>Header:</strong> The top text of the modal, could be used as a title.</li>
                <li><strong>Content:</strong> The actual content of the modal content.</li>
                <li><strong>Footer:</strong> Probably a bunch of actions, or just the close button.</li>
            </ul>
            <div class="modal-footer">
                <a class="modal-close button alpha primary">Close me!</a>
            </div>
        </div>
    </div>
</div>